/* COLOR SECTION */

:root {
    --general-bg: #f6f6f6;
    --general-border: black;
    --general-text: white;
    --general-symbol: white;
    --heading-color: #5c5b5b;
    --button-color: #ef7826;
    --button-bg-hover: #e88746;
    --button-text-color: white;
    --navbar-bg: #203e0c;
    --navbar-text-color: white;
    --dapur-ambu-color: white;
    --menu-color: white;
    --background-button: white;
    --navbar-hover: #fee666;
    --navbar-bg-hover: white;
    --alert-text: black;
    --success-border-color: #3a6e3a;
    --success-bg-color: #bcf5bc;
    --error-border-color: #884b4b;
    --error-bg-color: #f5bcbc;
    --navbar-bg-admin: #203e0c;
    --sidebar-bg-admin: #2f690b;
    --sidebar-border: #203e0c;
    --sidebar-hover: #387c0f;
    --menu-admin-bg: #203e0c;
    --dropdown-user-bg: #203e0c;
    --dropdown-admin-bg: #203e0c;
    --title-index-color: #a50023;
    --back-to-top-bg: #640611;
    --back-to-top-hover: #640611;
    --post-preview-title: #a50023;
    --single-bg: #ddd;
    --single-content-bg: white;
    --border-food-content: white;
    --pagination-bg: #fff;
    --pagination-border: #a50023;
    --pagination-text: #a50023;
    --pagination-disabled-text: grey;
    --pagination-disable-bg: lightgray;
    --pagination-disabled-border: lightgray;
    --menu-toggle-bg: white;
    --sidebar-text: aliceblue;
    --table-border: #d3d3d3;
    --table-color: lightgrey;
    --edit-color: green;
    --delete-color: red;
    --label-text: black;
    --login-page-bg: #203e0c;
    --login-text-color: white;
    --form-title: white;
    --text-input-bg: white;
    --text-input-border: #ddd;
    --footer-bg: #a50023;
    --footer-text-color: white;
    --footer-text-bottom: #fee666;
    --footer-hover: white;
    --a-text-color: white;
}


/* GENERAL STYLING*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: var(--general-bg);
    font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Candal", serif;
    color: var(--heading-color);
    /* margin: 5px; */
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    padding: 0.5rem 1rem;
    background: var(--button-color);
    color: var(--button-text-color);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: 1.08rem;
    font-family: "Lora", serif;
}

.btn:hover {
    background: var(--button-bg-hover);
}


/* NAVBAR STYLING */

header {
    background-color: var(--navbar-bg);
}

header * {
    color: var(--navbar-text-color);
}

header .logo-text {
    font-family: "Candal", serif;
    margin: 6px;
}

.containernav {
    display: flex;
    background-color: var(--navbar-bg);
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 67px;
}

.title h1 {
    color: var(--dapur-ambu-color);
    font-size: 1.9em;
}

.menu {
    list-style: none;
    display: flex;
    text-transform: capitalize;
    gap: 30px;
    flex-direction: row;
    color: var(--menu-color);
}

.menu li button {
    background-color: var(--navbar-bg);
    border: none;
    padding: 20px;
    color: var(--background-button);
    position: relative;
}

.menu li button::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--navbar-hover);
    left: 0;
    bottom: -20px;
    position: relative;
    display: block;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.menu li button:hover::after,
.menu li button:focus::after {
    opacity: 1;
}

.menu li button:hover,
.menu li button:focus {
    color: var(--navbar-bg-hover);
}


/* ALERT STYLING */

.msg {
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
    color: black;
}

.success {
    border: 1px solid var(--success-border-color);
    font-weight: bold;
    background: var(--success-bg-color);
}

.error {
    border: 1px solid var(--error-border-color);
    font-weight: bold;
    background: var(--error-bg-color);
}


/* LOGIN */

.auth-content {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    background: var(--login-page-bg);
    border-radius: 5px;
}

.auth-content .form-title {
    text-align: center;
    color: var(--form-title);
}

.auth-content form div {
    display: block;
    color: var(--login-text-color);
    margin-bottom: 10px;
    margin-top: 15px;
}

.auth-content form div p {
    text-align: center;
}

.auth-content form p a {
    text-decoration: underline;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--text-input-border);
    border-radius: 4px;
}


/* FOOTER STYLING */

.footer {
    background-color: var(--footer-bg);
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    color: var(--footer-text-color);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--footer-text-bottom);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col li {
    margin-bottom: 10px;
    font-weight: 500;
    list-style-type: none;
    margin: 7px;
    color: var(--a-text-color);
}

.footer-col a {
    text-transform: capitalize;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.5s ease;
    margin-right: 150px;
    color: var(--a-text-color);
}

.footer-col a:hover {
    color: var(--footer-hover);
    padding-left: 7px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer-col {
        width: 40%;
        margin-bottom: 30px;
    }
    .containernav {
        justify-content: space-around;
    }
    .auth-content {
        width: 45%;
    }
    .title {
        padding: 0;
    }
    .title h1 {
        font-size: 1.4em;
    }
}

@media (max-width: 576px) {
    .menu {
        background-color: var(--navbar-bg);
        height: 100vh;
        max-width: 160px;
        position: fixed;
        top: 0;
        width: 100%;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 0.9rem;
        transition: 0.3s ease;
    }
    .menu.active {
        right: 0;
    }
    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        z-index: 1;
    }
    .menu-toggle span {
        width: 28px;
        display: block;
        height: 3px;
        background-color: var(--navbar-text-color);
        border-radius: 5px;
        transition: 0.3s ease;
    }
    .menu-toggle.active span:nth-child(1) {
        transform-origin: left;
        transform: rotate(45deg) translate(-1.5px, -2.5px);
    }
    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active span:nth-child(3) {
        transform-origin: left;
        transform: rotate(-45deg) translate(0px, 0px);
    }
    .auth-content {
        width: 70%;
    }
    .footer-col {
        width: 100%;
    }
}


/* BACK TO TOP */

.hidden {
    display: none;
}